Babel==2.7.0
Django==2.2.4
django-filebrowser-no-grappelli==3.7.8
django-phonenumber-field==3.0.1
django-progressive-web-app==0.1.1
django-tinymce==2.8.0
django-tinymce4-lite==1.7.5
jsmin==2.2.2
phonenumbers==8.10.17
Pillow==6.2.0
pytz==2019.2
sqlparse==0.3.0
