{% extends 'base.html' %}
{% load static %}
{% block page_blog %}
<script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tinymce/custom.js' %}" ></script>
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
<link href="{% static 'styles/github.css' %}" rel="stylesheet">
<script>hljs.initHighlightingOnLoad();</script>


{% endblock %}

{% block page_content %}
<div class="s-content content">
<main class="row content__page">
<div id="respond">
    <div class="column large-12 comment-respond">
        <div class="column" id="content">
            <form  method="post" action='' enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p  }}
                <input class="button" type="submit" value="Save">
            </form>
        </div>
</div>
</div>
</main>
</div>
{% endblock %}