{% extends 'base.html' %}
{% load static %}
{% block page_content %}

        <div class="s-content">

            <header class="listing-header">
                <h1 class="h2">Category: {{ category }}</h1>
            </header>
            
            <div class="masonry-wrap">

                <div class="masonry">

                    <div class="grid-sizer"></div>

                    {% for post in posts %}
                    <article class="masonry__brick entry format-standard animate-this">
                            
                        <div class="entry__thumb">
                            <a href="{% url 'detail' post.pk %}" class="entry__thumb-link">
                                <img src="{% static 'images/thumbs/masonry/woodcraft-600.jpg' %}" 
                                        srcset="images/thumbs/masonry/woodcraft-600.jpg 1x, images/thumbs/masonry/woodcraft-1200.jpg 2x" alt="">
                            </a>
                        </div>
        
                        <div class="entry__text">
                            <div class="entry__header">
                                <img src="{{ post.image.url }}" width="350" height="350">
                                <h2 class="entry__title"><a href="{% url 'detail' post.pk %}">{{post.title}}</a></h2>
                                <div class="entry__meta">
                                    <span class="entry__meta-cat">
                                        {% for category in post.categories.all %}
                                        <a href="{% url 'category' category %}">{{category.name}}</a> 
                                        {% endfor %}
                                   </span>

                                    <span class="entry__meta-date">
                                        <a href="single-standard.html">{{post.created_on.date}}</a>
                                    </span>
                                </div>
                                
                            </div>
                            <div class="entry__excerpt">
                                <p>
                                {{post.body |slice:":200"}}
                                </p>
                            </div>
                        </div>
        
                    </article> <!-- end article -->
                    {% endfor %}
    
                    <article class="masonry__brick entry format-quote animate-this">
                            
                        <div class="entry__thumb">
                            <blockquote>
                                <p>Good design is making something intelligible and memorable. Great design is making something memorable and meaningful.</p>
    
                                <cite>Dieter Rams</cite>
                            </blockquote>
                        </div>   
        
                    </article> <!-- end article -->
    
                </div> <!-- end masonry -->

            </div> <!-- end masonry-wrap -->


        </div> <!-- end s-content -->

{% endblock %}