{% extends 'base.html' %}
{% load static %}
    {% block page_content %}
    <!-- site content
        ================================================== -->
        <div class="s-content content">
            <main class="row content__page">
                
                <section class="column large-full entry format-standard">

                    <div class="media-wrap">
                        <div>
                            <img src="{% static 'images/thumbs/about/about-1000.jpg' %}" sizes="(max-width: 2000px) 100vw, 2000px" alt="">
                        </div>
                    </div>

                    <div class="content__page-header">
                        <h1 class="display-1">
                        Hello, I am Saurabh Jindal.
                        </h1>
                    </div> <!-- end content__page-header -->

                    <p class="lead drop-cap">
                    I am Saurabh Jindal. I am currently persuing my B.Tech from MAIT, New Delhi.
                    I am a Python developer use my skills to build some amazing projects that are used
                    to solve some problems. Finally learning some finance skills to teach myself 
                    financial education which I think all enterpreneurs should know.
                    </p>

                    <p>
                    I really don't like the corporate culture having zero learning out of the domain, also
                    the area of growth tends to get limited day by day. But the startup culture works best 
                    just because of the new experiences and learning out of the box.
                    </p>

                    <h2>This Is My Story</h2>

                    <p>
                    My to be dream is to be my own boss. See the point is ,I do not like when somebody not
                    better than me kind of order me to do something.
                    <hr>

                    <div class="row block-large-1-2 block-tab-full">
                        <div class="column">
                            <h4>Who I Am.</h4>
                            <p>Jugadu from the core of my Heart.</p>
                        </div>

                        <div class="column">
                            <h4>Our Mission.</h4>
                            <p>Lorem ipsum Nisi amet fugiat eiusmod et aliqua ad qui ut nisi Ut aute anim mollit fugiat qui sit ex occaecat et eu mollit nisi pariatur fugiat deserunt dolor veniam reprehenderit aliquip magna nisi consequat aliqua veniam in aute ullamco Duis laborum ad non pariatur sit.</p>
                        </div>

                        <div class="column">
                            <h4>My Vision.</h4>
                            <p>Empowering rural Areas.</p>
                        </div>

                        <div class="column">
                            <h4>My Core Values.</h4>
                            <p>Ziddi Hu Mai.</p>
                        </div>

                    </div>

                </section>

            </main>

        </div> <!-- end s-content -->
{% endblock %}

        